<div ng-controller="colaboradorController">
        <div style="margin: 0px 0px 0px 0px;">
        <nav  class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header" >
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              
              <a class="navbar-brand" id="idUser" href="#crearFestival" style="color:#FFFFFF">MyConcert</a>
             
            </div>
            <a class="navbar-brand" id="idUser" href="#home" style="color:#FFFFFF"></a>
            <div class="collapse navbar-collapse" id="myNavbar" style="color:#FFFFFF">
              <ul class="nav navbar-nav">
                  
                   
                    <li class="dropdown" style="color:#FFFFFF">
                      <a class="dropdown-toggle" data-toggle="dropdown" >Crear<span class="caret"></span></a>
                      <ul class="dropdown-menu style="color:#FFFFFF"">
                          <li style="color:#FFFFFF" id="crearBanda"><a href="#crearBanda">Banda</a></li>
                          <li style="color:#FFFFFF" id="crearCategoria"><a href="#crearCategoria">Categoria</a></li>
                          <li style="color:#FFFFFF" id="crearCartelera"><a href="#crearCartelera">Cartelera</a></li>
                          
                      </ul>
                    </li>
                  
              </ul>
              <ul class="nav navbar-nav navbar-left">
                    <li style="color:#FFFFFF" id="myBtn"><a href="#catalogoBandas">Catalogo de Bandas</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                    <li style="color:#FFFFFF"class="submit" id="myBtn"><a href="#registroForm">Cerrar Sesión</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                     <li style="color:#FFFFFF" id="verPerfil" ><a href="#verPerfilColaborador">Ver Perfil</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                     <li style="color:#FFFFFF" id="ayuda" ><a href="#verAyuda">Ayuda</a></li>
              </ul>
            </div>
          </div>
        </nav>
    </div>
    <div class="container-fluid" >
          <div class="row">
                <div class="col-sm-1 col-md-2 sidenav">
                  
                  <ul class="nav nav-pills nav-stacked">
                    <h1 style="color:#FFFFFF" >Colaborador</h1>
                  </ul><br>

                </div>
                 
                <div class="col-sm-3 col-md-4" style="background: rgba(38, 0, 51, 0.4); margin: 0px 0px 0px 60px;">
                    <br>
                    <h1>Carteleras de Votación</h1>
                    <div id="panelCarteleras" style="position:static; height:550px; overflow-y:scroll;" >
                        <div ng-repeat="item in cartelera.listaCarteleras">
                          <hr>
                          <h2 style="color:#FFFFFF" >{{item.Nombre}}</h2>
                                <div class="top-row">
                                        <div class="form-group" >
                                              <label style="color:#FFFFFF;margin: 0px 0px 0px 0px" class="control-label col-sm-2" for="fechaInicioFestival1">Fecha Inicio:</label>
                                              <p  style="color:#FFFFFF;margin: 0px 0px 0px 70px" id="fechaInicioFestival1" name="fechaInicioFestival1">{{item.FechaInicioFestival}}</p>
                                        
                                        </div>
                                        <div class="form-group">
                                              <label style="color:#FFFFFF" class="control-label col-sm-2" for="fechaFinalFestival1">Fecha Inicio:</label>
                                              <div class="col-sm-10">
                                                  <p  style="color:#FFFFFF;margin: 0px 0px 0px 70px" id="fechaFinalFestival1" name="fechaFinalFestival1">{{item.FechaFinalFestival}}</p>
                                              </div>
                                         </div>
                                </div>
                                <div class="top-row">
                                     <div class="form-group">
                                          <label style="color:#FFFFFF" class="control-label col-sm-2" for="lugar1">Lugar:</label>
                                          <div class="col-sm-10">
                                              <p  style="color:#FFFFFF;margin: 0px 0px 0px 30px"  id="lugar1" name="lugar1">{{item.Ubicacion}},{{item.Pais}}</p>
                                          </div>
                                     </div>
                                    <div class="form-group">
                                          <label style="color:#FFFFFF" class="control-label col-sm-2" for="finVotacion1">Fin Votaciones:</label>
                                          <div class="col-sm-10">
                                              <p  style="color:#FFFFFF;margin: 0px 0px 0px 70px"  id="finVotacio1" name="finVotacion1">{{item.FechaFinalVotacion}}</p>
                                          </div>
                                     </div>
                                </div>
                          <span type="button" ng-click="obtenerUnaCartelera(item)" class="btn btn-info"  data-toggle="modal" href="#infoCarteleraModal">Ver Cartelera</span>
                          <br><br>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-4" style="background: rgba(38, 0, 51, 0.4); margin: 0px 0px 0px 60px;">
                    <br>
                    <h1>Festivales Disponibles</h1>
                    <div id="panelCarteleras" style="position:static; height:550px; overflow-y:scroll;" >
                        <div ng-repeat="item in cartelera.listaFestivales">
                          <hr>
                          <h2 style="color:#FFFFFF" >{{item.Nombre}}</h2>
                                <div class="top-row">
                                        <div class="form-group" >
                                              <label style="color:#FFFFFF;margin: 0px 0px 0px 0px" class="control-label col-sm-2" for="fechaInicioFestival1">Fecha Inicio:</label>
                                              <p  style="color:#FFFFFF;margin: 0px 0px 0px 70px" id="fechaInicioFestival1" name="fechaInicioFestival1">{{item.FechaInicioFestival}}</p>
                                        
                                        </div>
                                        <div class="form-group">
                                              <label style="color:#FFFFFF" class="control-label col-sm-2" for="fechaFinalFestival1">Fecha Inicio:</label>
                                              <div class="col-sm-10">
                                                  <p  style="color:#FFFFFF;margin: 0px 0px 0px 70px" id="fechaFinalFestival1" name="fechaFinalFestival1">{{item.FechaFinalFestival}}</p>
                                              </div>
                                         </div>
                                </div>
                                <div class="top-row">
                                     <div class="form-group">
                                          <label style="color:#FFFFFF" class="control-label col-sm-2" for="lugar1">Lugar:</label>
                                          <div class="col-sm-10">
                                              <p  style="color:#FFFFFF;margin: 0px 0px 0px 30px"  id="lugar1" name="lugar1">{{item.Ubicacion}},{{item.Pais}}</p>
                                          </div>
                                     </div>
                                  
                                </div>
                          <span type="button"  ng-click="obtenerUnFestival(item)" class="btn btn-info"  data-toggle="modal" href="#infoFestivalModal">Ver Festival</span>
                          <br><br>
                        </div>


                    </div>

                </div>
                <div class="container">
                          <!-- Modal -->
                          <div id="infoCarteleraModal" class="modal fade" tabindex="-1" data-focus-on="input:first" style="display: none;">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Cartelera de Votacion</h4>
                                </div>
                                <div class="modal-body"  style="color:#6d153d">
                                    <h1 style="color:#6d153d">{{cartelera.info.event_data.Nombre}}</h1>
                                    <div ng-show="eventoFlag1" ng-hide="eventoFlag2">
                                       <div class="top-row">
                                                <div class="form-group">
                                                      <label style="color:#6d153d" class="control-label col-sm-2" for="fechaInicioFestival">Fecha Inicio:</label>
                                                      <div class="col-sm-10">
                                                            <p id="fechaInicioFestival" name="fechaInicioFestival">{{cartelera.info.event_data.FechaInicioFestival}}</p>
                                                      </div>
                                                </div>
                                                <div class="form-group">
                                                      <label style="color:#6d153d" class="control-label col-sm-2" for="finVotacion">Fecha Inicio:</label>
                                                      <div class="col-sm-10">
                                                          <p id="fechaFinalFestival" name="fechaFinalFestival">{{cartelera.info.event_data.FechaFinalFestival}}</p>
                                                      </div>
                                                 </div>
                                        </div>
                                        <div class="top-row">
                                             <div class="form-group">
                                                  <label style="color:#6d153d" class="control-label col-sm-2" for="lugar">Lugar:</label>
                                                  <div class="col-sm-10">
                                                      <p id="lugar" name="lugar">{{cartelera.info.event_data.Ubicacion}},{{infoCartelera.event_data.country}}</p>
                                                  </div>
                                             </div>
                                            <div class="form-group">
                                                  <label style="color:#6d153d" class="control-label col-sm-2" for="finVotacion">Fin Votaciones:</label>
                                                  <div class="col-sm-10">
                                                      <p id="finVotacion" name="finVotacion">{{cartelera.info.event_data.FechaFinalVotacion}}</p>
                                                  </div>
                                             </div>
                                        </div>
                                    </div>
                                  
                                    <div ng-show="!(eventoFlag1)" ng-hide="eventoFlag1">
                                            <div class="form-group has-feedback" style="margin: 10px 0px 0px 10px;">
                                                <label for="C_Name" style="color:#6d153d" >Informacion Comida</label>
                                                <textarea   id="cartelera.comida" ng-model="cartelera.Comida" style="color:#6d153d; border-style: solid; border-color: #6d153d;" rows="2" cols="20"></textarea>
                                            </div>
                                            <div class="form-group has-feedback" style="margin: 10px 0px 0px 10px;">
                                                <label for="C_Name" style="color:#6d153d" >Informacion de Servicios</label>
                                                <textarea   id="cartelera.servicios" ng-model="cartelera.servicios" style="color:#6d153d; border-style: solid; border-color: #6d153d;" rows="2" cols="20"></textarea>
                                            </div>
                                            <div class="form-group has-feedback" style="margin: 10px 0px 0px 10px;">
                                                <label for="C_Name" style="color:#6d153d">Informacion de Transporte</label>
                                                <textarea   id="cartelera.transporte" ng-model="cartelera.transporte" style="color:#6d153d; border-style: solid; border-color: #6d153d;" rows="2" cols="20"></textarea>
                                            </div>
                                    </div>
                                    <div  class="form-group has-feedback" style="margin: 10px 0px 0px 0px;">
                                         <h3>Categorias Disponibles</h3>
                                         <div  class="col-sm-6 col-md-6 col-lg-12" >
                                                <uib-accordion close-others="oneAtATime" style="display:block">
                                                    <uib-accordion-group ng-repeat="cartelera in cartelera.info.categories" ng-scroll="cartelera in cartelera.info.categories" is-open="cartelera.isOpen" ng-click="updateOpenStatus()">
                                                        <uib-accordion-heading style="background-color:#6d153d" ng-model="checkTitle">
                                                            {{cartelera.category}}
                                                        </uib-accordion-heading>
                                                                <a>{{cartelera.category}}</a>
                                                                <div>
                                                                      <h4>Resultados Parciales</h4>          
                                                                      <table class="table table-hover">
                                                                        <thead>
                                                                          <tr>
                                                                            <th>Banda</th>
                                                                            <th>Votos</th>
                                                                            <th  ng-show ="!(eventoFlag1)">Seleccionar</th>
                                                                          </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                          <tr ng-repeat ="banda in cartelera.bands | orderBy: banda.result:true">
                                                                            <td>{{banda.name_band}}</td>
                                                                            <td>{{banda.result}}</td>
                                                                            <td><input ng-show="!(eventoFlag1)" type="checkbox" ng-model="bandasSeleccionadas" name="bandasSeleccionadas" value="{{banda.name_band}}.{{cartelera.category}}" checked></td>
                                                                          </tr>

                                                                        </tbody>
                                                                      </table>
                                                                </div>
                                                    </uib-accordion-group>
                                                </uib-accordion>
                                        </div>
                                  </div>
                                  </div>
                                
                                    
                     
                                <div class="modal-footer">
                                  <button ng-show="eventoFlag1" type="button" class="button button-block"  data-toggle="modal" ng-click="convertirEnFestival()" >CONVERTIR EN FESTIVAL</button>
                                   <div class="modal-footer">
                                  <button ng-show="!(eventoFlag1)" type="button" class="button button-block" data-dismiss="modal"  ng-click="crearFestival()">CREAR FESTIVAL</button>
                                </div>
                                </div>
                              </div>

                            </div>
                          </div>

                
                    <!-- Modal -->
                    <div class="container">
                          <div id="infoFestivalModal" class="modal fade" tabindex="-1" data-focus-on="input:first" style="display: none;  ">
                          
                            <div class="modal-dialog modal-lg  ">

                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Festival</h4>
                                </div>
                                <div class="modal-body" >
                                    <h1  style="color:#6d153d">{{festival.info.content.event_data.Nombre}}</h1>
                                    <hr>
                                    <div class="top-row">
                                           <div >
                                                <div>
                                                     <label style="color:#6d153d" >Fecha Inicio:</label>
                                                     <div>
                                                         <p id="fechaInicioFestival1" name="fechaInicioFestival">{{festival.info.content.event_data.FechaInicioFestival}}</p>
                                                     </div>
                                                </div>

                                                <div>
                                                      <label style="color:#6d153d">Fecha Final:</label>
                                                      <div class="col-sm-10">
                                                        <p id="fechaFinalFestival1" name="fechaFinalFestival">{{festival.info.content.event_data.FechaFinalFestival}}</p>
                                                      </div>
                                                </div>
                                                <div>
                                                      <label style="color:#6d153d">Ubicación:</label>
                                                      <div class="col-sm-10">
                                                        <p id="fechaFinalFestival1" name="fechaFinalFestival"> {{festival.info.content.event_data.Ubicacion}},{{festival.info.content.event_data.Pais}}</p>
                                                      </div>
                                                </div>
 
                                            </div>   
                                            
                                            <div >
                                                 
                                                <div class="form-group has-feedback" style="margin: 10px 0px 0px 10px;">
                                                    <label style="color:#6d153d" >Información Comida</label>
                                                    <div class="col-sm-10">
                                                              <p id="comida" name="comida">{{festival.info.content.event_data.Comida}}</p>
                                                    </div>
                                                </div>
                                                <div class="form-group has-feedback" style="margin: 10px 0px 0px 10px;">
                                                    <label  style="color:#6d153d" >Información de Servicios</label>
                                                    <div class="col-sm-10">
                                                            <p id="servicios" name="servicios">{{festival.info.content.event_data.Servicios}}</p>
                                                    </div>
                                                </div>
                                                <div class="form-group has-feedback" style="margin: 10px 0px 0px 10px;">
                                                    <label style="color:#6d153d">Información de Transporte</label>
                                                    <div class="col-sm-10">
                                                    <p id="transporte" name="transporte">{{festival.info.content.event_data.Transporte}}</p>
                                                    </div>
                                                </div>
                                            
                                            </div>
                                    </div>
                                    <div class="form-group has-feedback" >
                                        <label style="color:#6d153d" >Recomencacion del Chef :</label>
                                        <div class="col-sm-10">
                                            <p i>{{festival.info.content.event_data.RecomendacionChef}}</p>
                                        </div>
                                    </div>
                                    <div style="margin: 0px 0px 0px 0px;">
                                         <br>
                                         <h3>Bandas Seleccionadas</h3>
                                         <div  class="col-sm-6 col-md-6 col-lg-12" >
                                                
                                                              <h4>Resultados Finales</h4>          
                                                              <table class="table table-hover">
                                                                <thead>
                                                                  <tr>
                                                                    <th>Banda</th>
                                                                    <th>Votos</th>
                                                                  </tr>
                                                                </thead>
                                                                <tbody>
                                                                  <tr ng-repeat =" banda in festival.info.content.bands | orderBy: banda.votes:true ">
                                                                    <td >{{banda.name_band}}</td>
                                                                    <td>{{banda.votes}}</td>
                                                                  </tr>

                                                                </tbody>
                                                              </table>
                                          </div>
                                            
                                    </div>
                                   
                                    
                                </div>
                                <div class="modal-footer">
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                </div>  
          </div>
        
    
            
</div>

</div>
