<div id="crearBandaDiv" ng-controller="crearBandaController"  data-ng-init="obtenerDatos()">
            <div style="margin: 0px 0px 0px 0px;">
                <nav  class="navbar navbar-inverse">
                  <div class="container-fluid">
                    <div class="navbar-header" >
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>

                      <a class="navbar-brand" id="idUser" href="#"  ng-click="obtenerBandas()" style="color:#FFFFFF">MyConcert</a>

                    </div>
                    <a class="navbar-brand" id="idUser" href="#home" style="color:#FFFFFF"></a>
                    <div class="collapse navbar-collapse" id="myNavbar" style="color:#FFFFFF">
                      <ul class="nav navbar-nav">


                            <li class="dropdown" style="color:#FFFFFF">
                              <a class="dropdown-toggle" data-toggle="dropdown" >Crear<span class="caret"></span></a>
                              <ul class="dropdown-menu style="color:#FFFFFF"">
                                  <li style="color:#FFFFFF" id="crearBanda"><a href="#crearBanda">Banda</a></li>
                                  <li style="color:#FFFFFF" id="crearCategoria"><a href="#crearCategoria">Categoria</a></li>
                                  <li style="color:#FFFFFF" id="crearCartelera"><a href="#crearCartelera">Cartelera</a></li>

                              </ul>
                            </li>

                      </ul>
                      <ul class="nav navbar-nav navbar-left">
                            <li style="color:#FFFFFF" id="myBtn"><a href="#catalogoBandas">Catalogo de Bandas</a></li>
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                            <li style="color:#FFFFFF"class="submit" id="myBtn"><a href="#registroForm">Cerrar Sesión</a></li>
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                             <li style="color:#FFFFFF" id="verPerfil" ><a href="#verPerfilColaborador">Ver Perfil</a></li>
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                             <li style="color:#FFFFFF" id="ayuda" ><a href="#verAyuda">Ayuda</a></li>
                      </ul>
                    </div>
                  </div>
                </nav>
            </div>
            <div class="form" id="formCrearBanda">
                    <h1 style="color:#ffffff" >Crear Banda</h1>  
                    <hr>
                    <div >
                        <div class="form-group" style="margin: 20px 0px 0px 0px;">
                            <label for="B_Name">Nombre de Banda</label>
                            <input type="text" style="color:#ffffff"id="B_Name" name="banda.nombre" ng-model="banda.nombre" required autocomplete="off" maxlength="30" placeholder="Name" >
                        </div>

                       <div class="top-row">

                           <div class="form-group" style="margin: 10px 0px 0px 0px;">

                                    <label for="sel2">Ingrese los Miembros de la Banda</label>
                                    <div class="input-group">
                                        <input type="text" style="color:#ffffff" id = "nombreMiembro" ng-model= "banda.miembro" maxlength="30"  placeholder="Nombre de Integrante">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="agregarMiembro()">Agregar</button>
                                        </span>
                                    </div>
                                    <hr>
                                    <div class="panel panel-default">
                                                  <div class="panel-heading">Lista de Miembros</div>
                                                  <div class="panel-body">
                                                    <div ng-repeat="item in banda.listaMiembros  | limitTo: 10 | orderBy: item">
                                                        • {{item}} 
                                                    </div>
                                                  </div>
                                    </div>         
                            </div>

                           <div class="form-group" style="margin: 10px 0px 0px 20px;">      

                                    <label for="sel2">Ingrese las Canciones Principales</label>
                                    <div class="input-group">
                                      <input type="text" style="color:#ffffff"  maxlength="30" id = "nombreMiembro" ng-model = "banda.cancion"  placeholder="Nombre de Cancion">
                                      <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="agregarCancion()">Agregar</button>
                                      </span>
                                    </div>
                                    <hr>
                                    <div class="panel panel-default">
                                          <div class="panel-heading">Lista de Canciones</div>
                                          <div class="panel-body">
                                            <div ng-repeat="item in banda.listaCanciones | limitTo: 10 | orderBy: item"  >
                                                • {{item}} 
                                            </div>
                                          </div>
                                    </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin: 20px 0px 0px 0px;">
                          <label for="sel2">Seleccione los generos de la Banda</label>
                          <select multiple style="color:#ffffff" ng-model="banda.generos" ng-options="x.Nombre for x in  banda.listaGeneros">
                          </select>   

                        </div>
                        <div>
                            <div class="form-group" style="margin: 20px 0px 0px 0px;" align="center">
                                <button class="button button-block" type="submit" ng-click="crearBanda()" href="#vistaColaborador">Crear Banda</button>
                            </div>      
                        </div>
            </div>
</div>