<div ng-controller="crearBandaController">
            <div class="form">
                    <h1 style="color:#ffffff" >Crear Banda</h1>  
                    <hr>+
                    <div >
                        <div class="form-group" style="margin: 20px 0px 0px 0px;">
                            <label for="B_Name">Nombre de Banda</label>
                            <input type="text" style="color:#ffffff"id="B_Name" name="banda.nombre" ng-model="banda.nombre" placeholder="Name" >
                        </div>

                       <div >
                          <label for="sel2">Seleccione sus géneros preferidos</label>
                          <select multiple style="color:#ffffff" ng-model="banda.generos" ng-options="x.Nombre for x in banda.listaGeneros">
                          </select>   

                        </div>
                       <div class="form-group" style="margin: 20px 0px 0px 0px;">
                            <div class="row" >
                              <div class="col-lg-6">
                                <label for="sel2">Ingrese los Miembros de la Banda</label>
                                <div class="input-group">
                                <input type="text" style="color:#ffffff" id = "nombreMiembro" ng-model= "banda.miembro"  placeholder="Nombre de Banda">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="agregarMiembro()">Agregar</button>
                                </span>

                                </div><!-- /input-group -->
                              </div><!-- /.col-lg-6 -->
                            </div>
                        </div>
                       <div class="form-group" style="margin: 20px 0px 0px 0px;">      
                            <div class="row" >
                              <div class="col-lg-6">
                                <label for="sel2">Ingrese las Canciones Principales</label>
                                <div class="input-group">
                                  <input type="text" style="color:#ffffff"  id = "nombreMiembro" ng-model = "banda.cancion"  placeholder="Nombre de Cancion">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="agregarCancion()">Agregar</button>
                                  </span>

                                </div><!-- /input-group -->
                                <select type="text" id = "E_BranchStore"    name="E_BranchStore" ng- model="branchStore" placeholder="Escriba un Nombre de Usuario" >
                                        <option ng-repeat="item in banda.listaBandas">{{item.Nombre}}</option>
                                </select>
                              </div><!-- /.col-lg-6 -->
                            </div>
                            <select type="text" id = "E_BranchStore"    name="E_BranchStore" ng- model="branchStore" placeholder="Escriba un Nombre de Usuario" >
                                        <option ng-repeat="item in banda.listaMiembros">{{item.id}}</option>
                           </select>
                           <table>
                              <tr>
                                <td>Nombre Miembro</td>

                              </tr>
                              <tr ng-repeat="x in canciones"> 
                                <td>{{x.nombre}}</td>
                              </tr>
                            </table>
                        </div>
                        <div align="center">
                            <button class="button button-block" ng-click="crearBanda()" href="#vistaColaborador">Crear Banda</button>
                        </div>   



                    
                    </div> 
                
                
            </div>
</div>