<div ng-controller="crearBandaController">
            <div style="margin: 0px 0px 0px 0px;">
                <nav class="navbar navbar-inverse">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>

                      <a class="navbar-brand" id="idUser" href="#"></a>

                    </div>
                    <a class="navbar-brand" id="idUser" href="#home"></a>
                    <div class="collapse navbar-collapse" id="myNavbar">
                      <ul class="nav navbar-nav">


                            <li class="dropdown">
                              <a class="dropdown-toggle" data-toggle="dropdown" >Crear<span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                  <li id="crearBanda"><a href="#crearBanda">Banda</a></li>
                                  <li id="crearCategoria"><a href="#crearCategoria">Categoria</a></li>
                                  <li id="crearCartelera"><a href="#crearCartelera">Cartelera</a></li>

                              </ul>
                            </li>

                          <li class="dropdown">
                              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Edit<span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                  <li id="editEmployee" role="button" data-toggle="modal" data-target="#editEmployeesModal"><a href="#">Banda</a></li>    
                              </ul>
                          </li>
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                            <li id="myBtn"><a href="#home"><span class="glyphicon glyphicon-log-out"></span>Cerrar Sesión</a></li>
                      </ul>
                       <ul class="nav navbar-nav navbar-right">
                             <li id="verPerfil" ><a href="#verPerfilColaborador">Ver Perfil</a></li>
                      </ul>
                    </div>
                  </div>
                </nav>
            </div>
            <div class="form">
                    <h1 style="color:#ffffff" >Crear Banda</h1>  
                    <hr>+
                    <div >
                        <div class="form-group" style="margin: 20px 0px 0px 0px;">
                            <label for="B_Name">Nombre de Banda</label>
                            <input type="text" style="color:#ffffff"id="B_Name" name="banda.nombre" ng-model="banda.nombre" placeholder="Name" >
                        </div>

                       <div >
                          <label for="sel2">Seleccione sus géneros preferidos</label>
                          <select multiple style="color:#ffffff" ng-model="banda.generos" ng-options="x.Nombre for x in banda.listaGeneros">
                          </select>   

                        </div>
                       <div class="form-group" style="margin: 20px 0px 0px 0px;">
                            <div class="row" >
                              <div class="col-lg-6">
                                <label for="sel2">Ingrese los Miembros de la Banda</label>
                                <div class="input-group">
                                    <input type="text" style="color:#ffffff" id = "nombreMiembro" ng-model= "banda.miembro"  placeholder="Nombre de Banda">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="agregarMiembro()">Agregar</button>
                                    </span>
                                </div>
                                <div >
                                  <ul >
                                    <li style="margin: 0px 0px 0px 20px; color:#ffffff" ng-repeat = "item in banda.listaMiembros">{{item}}</li>\
                                  </ul>
                                </div>
                                
                                </div><!-- /input-group -->
                              </div><!-- /.col-lg-6 -->
                            </div>
                        
                       <div class="form-group" style="margin: 20px 0px 0px 0px;">      
                            <div class="row" >
                              <div class="col-lg-6">
                                <label for="sel2">Ingrese las Canciones Principales</label>
                                <div class="input-group">
                                  <input type="text" style="color:#ffffff"  id = "nombreMiembro" ng-model = "banda.cancion"  placeholder="Nombre de Cancion">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="agregarCancion()">Agregar</button>
                                  </span>
                                </div><!-- /input-group -->
                                <div >
                                  <ul >
                                    <li style="margin: 0px 0px 0px 0px; color:#ffffff" ng-repeat = "item in banda.listaCanciones">{{item}}</li>\
                                  </ul>
                                </div>
                             </div>
                           </div>
                        </div>
                        <div align="center">
                            <button class="button button-block" ng-click="crearBanda()" href="#vistaColaborador">Crear Banda</button>
                        </div>      
                    </div>
            </div>
</div>