<div id="crearCategoriaDiv" ng-controller="crearCategoriaController">
             <div style="margin: 0px 0px 0px 0px;">
                <nav  class="navbar navbar-inverse">
                  <div class="container-fluid">
                    <div class="navbar-header" >
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>

                      <a class="navbar-brand" id="idUser" href="#"  ng-click="obtenerBandas()" style="color:#FFFFFF">MyConcert</a>

                    </div>
                    <a class="navbar-brand" id="idUser" href="#home" style="color:#FFFFFF"></a>
                    <div class="collapse navbar-collapse" id="myNavbar" style="color:#FFFFFF">
                      <ul class="nav navbar-nav">


                            <li class="dropdown" style="color:#FFFFFF">
                              <a class="dropdown-toggle" data-toggle="dropdown" >Crear<span class="caret"></span></a>
                              <ul class="dropdown-menu style="color:#FFFFFF"">
                                  <li style="color:#FFFFFF" id="crearBanda"><a href="#crearBanda">Banda</a></li>
                                  <li style="color:#FFFFFF" id="crearCategoria"><a href="#crearCategoria">Categoria</a></li>
                                  <li style="color:#FFFFFF" id="crearCartelera"><a href="#crearCartelera">Cartelera</a></li>

                              </ul>
                            </li>

                      </ul>
                      <ul class="nav navbar-nav navbar-left">
                            <li style="color:#FFFFFF" id="myBtn"><a href="#catalogoBandas">Catalogo de Bandas</a></li>
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                            <li style="color:#FFFFFF"class="submit" id="myBtn"><a href="#registroForm">Cerrar Sesión</a></li>
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                             <li style="color:#FFFFFF" id="verPerfil" ><a href="#verPerfilColaborador">Ver Perfil</a></li>
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                             <li style="color:#FFFFFF" id="ayuda" ><a href="#verAyuda">Ayuda</a></li>
                      </ul>
                    </div>
                  </div>
                </nav>
            </div>
            <div class="form" id= "formCrearCategoria">
                    <h1 style="color:#ffffff" >Crear Categoria</h1>  
                    <hr>
                    <div class="form-group" style="margin: 20px 0px 0px 0px;">
                            <label for="B_Name">Nombre de Categoria</label>
                            <input type="text" style="color:#ffffff"id="B_Name" name="categoria.nombre" ng-model="categoria.nombre" placeholder="Name" >
                    </div>
                    <div style="margin: 20px 0px 0px 0px;" align="center">
                            <button class="button button-block" ng-click="crearCategoria()" href="#vistaColaborador">Crear Categoria</button>
                    </div>
            </div>
</div>