<div ng-controller="fanaticoController">
        <div style="margin: 0px 0px 0px 0px;">
        <nav  class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header" >
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              
              <a class="navbar-brand" id="idUser" href="#crearFestival" style="color:#FFFFFF">MyConcert</a>
             
            </div>
            <a class="navbar-brand" id="idUser" href="#home" style="color:#FFFFFF"></a>
            <div class="collapse navbar-collapse" id="myNavbar" style="color:#FFFFFF">
            
      
              <ul class="nav navbar-nav navbar-right">
                    <li style="color:#FFFFFF"class="submit" id="myBtn"><a href="#registroForm">Cerrar Sesión</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                     <li style="color:#FFFFFF" id="verPerfil" ><a href="#verPerfilFanatico">Ver Perfil</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                     <li style="color:#FFFFFF" id="ayuda" ><a href="#verAyuda">Ayuda</a></li>
              </ul>
            </div>
          </div>
        </nav>
    </div>
    <div class="container-fluid" >
          <div class="row">
                <div class="col-sm-1 col-md-2 sidenav">
                  
                  <ul class="nav nav-pills nav-stacked">
                    <h1 style="color:#FFFFFF" >Fanatico</h1>
                    <div id="imagenPerfil">
                    </div>

                  </ul><br>

                </div>
                 
                <div class="col-sm-3 col-md-4" style="background: rgba(38, 0, 51, 0.4); margin: 0px 0px 0px 60px;">
                    <br>
                    <h1>Carteleras de Votación</h1>
                    <div id="panelCarteleras" style="position:static; height:550px; overflow-y:scroll;" >
                        <div ng-repeat="item in cartelera.listaCarteleras">
                          <hr>
                          <h2 style="color:#FFFFFF" >{{item.Nombre}}</h2>
                                <div class="top-row">
                                        <div class="form-group" >
                                              <label style="color:#ffffff;margin: 0px 0px 0px 0px" class="control-label col-sm-2" for="fechaInicioFestival1">Fecha Inicio:</label>
                                              <p  style="color:#FFFFFF;margin: 0px 0px 0px 70px" id="fechaInicioFestival1" name="fechaInicioFestival1">{{item.FechaInicioFestival}}</p>
                                        
                                        </div>
                                        <div class="form-group">
                                              <label style="color:#ffffff" class="control-label col-sm-2" for="fechaFinalFestival1">Fecha Inicio:</label>
                                              <div class="col-sm-10">
                                                  <p  style="color:#ffffff;margin: 0px 0px 0px 70px" id="fechaFinalFestival1" name="fechaFinalFestival1">{{item.FechaFinalFestival}}</p>
                                              </div>
                                         </div>
                                </div>
                                <div class="top-row">
                                     <div class="form-group">
                                          <label style="color:#ffffff" class="control-label col-sm-2" for="lugar1">Lugar:</label>
                                          <div class="col-sm-10">
                                              <p  style="color:#FFFFFF;margin: 0px 0px 0px 30px"  id="lugar1" name="lugar1">{{item.Ubicacion}},{{item.Pais}}</p>
                                          </div>
                                     </div>
                                    <div class="form-group">
                                          <label style="color:#ffffff" class="control-label col-sm-2" for="finVotacion1">Fin Votaciones:</label>
                                          <div class="col-sm-10">
                                              <p  style="color:#FFFFFF;margin: 0px 0px 0px 70px"  id="finVotacio1" name="finVotacion1">{{item.FechaFinalVotacion}}</p>
                                          </div>
                                     </div>
                                </div>
                          <span type="button" ng-click="obtenerUnaCartelera(item)" class="btn btn-info"  data-toggle="modal" href="#infoCarteleraModal">Ver Cartelera</span>
                          <br><br>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-4" style="background: rgba(38, 0, 51, 0.4); margin: 0px 0px 0px 60px;">
                    <br>
                    <h1>Festivales Disponibles</h1>
                    <div id="panelFestivales" style="position:static; height:550px; overflow-y:scroll;" >
                        <div ng-repeat="item in cartelera.listaFestivales">
                          <hr>
                          <h2 style="color:#FFFFFF" >{{item.Nombre}}</h2>
                                <div class="top-row">
                                        <div class="form-group" >
                                              <label style="color:#ffffff;margin: 0px 0px 0px 0px" class="control-label col-sm-2" for="fechaInicioFestival1">Fecha Inicio:</label>
                                              <p  style="color:#FFFFFF;margin: 0px 0px 0px 70px" id="fechaInicioFestival1" name="fechaInicioFestival1">{{item.FechaInicioFestival}}</p>
                                        
                                        </div>
                                        <div class="form-group">
                                              <label style="color:#ffffff" class="control-label col-sm-2" for="fechaFinalFestival1">Fecha Inicio:</label>
                                              <div class="col-sm-10">
                                                  <p  style="color:#ffffff;margin: 0px 0px 0px 70px" id="fechaFinalFestival1" name="fechaFinalFestival1">{{item.FechaFinalFestival}}</p>
                                              </div>
                                         </div>
                                </div>
                                <div class="top-row">
                                     <div class="form-group">
                                          <label style="color:#ffffff" class="control-label col-sm-2" for="lugar1">Lugar:</label>
                                          <div class="col-sm-10">
                                              <p  style="color:#FFFFFF;margin: 0px 0px 0px 30px"  id="lugar1" name="lugar1">{{item.Ubicacion}},{{item.Pais}}</p>
                                          </div>
                                     </div>

                                </div>
                          <span type="button"  style="margin: 10px 0px 0px 0px" ng-click="obtenerUnFestival(item)" class="btn btn-info"  data-toggle="modal" href="#infoFestivalModal">Ver Festival</span>
                          <br><br>
                        </div>


                    </div>

                </div>
                <div class="container">
                          <!-- Modal -->
                          <div id="infoCarteleraModal" class="modal fade" tabindex="-1" data-focus-on="input:first" style="display: none;">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Cartelera de Votacion</h4>
                                </div>
                                <div class="modal-body"  style="color:#6d153d">
                                    <h1 style="color:#6d153d">{{cartelera.info.event_data.Nombre}}</h1>
                                    <div ng-show="eventoFlag1" ng-hide="eventoFlag2">
                                       <div class="top-row">
                                                <div class="form-group">
                                                      <label style="color:#6d153d" class="control-label col-sm-2" for="fechaInicioFestival">Fecha Inicio:</label>
                                                      <div class="col-sm-10">
                                                            <p id="fechaInicioFestival" name="fechaInicioFestival">{{cartelera.info.event_data.FechaInicioFestival}}</p>
                                                      </div>
                                                </div>
                                                <div class="form-group">
                                                      <label style="color:#6d153d" class="control-label col-sm-2" for="finVotacion">Fecha Inicio:</label>
                                                      <div class="col-sm-10">
                                                          <p id="fechaFinalFestival" name="fechaFinalFestival">{{cartelera.info.event_data.FechaFinalFestival}}</p>
                                                      </div>
                                                 </div>
                                        </div>
                                        <div class="top-row">
                                             <div class="form-group">
                                                  <label style="color:#6d153d" class="control-label col-sm-2" for="lugar">Lugar:</label>
                                                  <div class="col-sm-10">
                                                      <p id="lugar" name="lugar">{{cartelera.info.event_data.Ubicacion}},{{infoCartelera.event_data.country}}</p>
                                                  </div>
                                             </div>
                                            <div class="form-group">
                                                  <label style="color:#6d153d" class="control-label col-sm-2" for="finVotacion">Fin Votaciones:</label>
                                                  <div class="col-sm-10">
                                                      <p id="finVotacion" name="finVotacion">{{cartelera.info.event_data.FechaFinalVotacion}}</p>
                                                  </div>
                                             </div>
                                        </div>
                                    </div>
                               
                                    <div ng-show="!(eventoFlag1)" ng-hide="eventoFlag1">
    
                                    </div>
                                    <div  class="form-group has-feedback" style="margin: 10px 0px 0px 0px;">
                                         <h5>Distribuya 100$ entre las bandas de cada categoria</h5>
                                         <div  class="col-sm-6 col-md-6 col-lg-12" >
                                                <uib-accordion close-others="oneAtATime" style="display:block">
                                                    <uib-accordion-group ng-repeat="cartelera in cartelera.info.categories" ng-scroll="cartelera in cartelera.info.categories" >
                                                        <uib-accordion-heading style="background-color:#6d153d" ng-model="checkTitle">
                                                            {{cartelera.category}}
                                                        </uib-accordion-heading>
                                                                <a>{{cartelera.category}}</a>
                                                                <div>
                                                                      <h4>Resultados Parciales</h4>          
                                                                      <table class="table table-hover">
                                                                        <thead>
                                                                          <tr>
                                                                            <th>Banda</th>
                                                                            <th>Votos</th>
                                                                            <th  ng-show ="!(eventoFlag1)">Asigne sus Votos</th>
                                                                          </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                          <tr ng-repeat ="banda in cartelera.bands | orderBy: banda.votes : true">
                                                                            <td><a  data-toggle="modal"      data-target="#infoBandaModal" ng-click="verBandaEspecifica(banda)">{{banda.name_band}}</a></td>
                                                                            <td>{{banda.result}}</td>
                                                                            <td><div class="col-xs-3"><input ng-show="!(eventoFlag1)" id="number" type="number" max="100"  class="form-control" ng-model="votas" name="voto"> <input type="checkbox" ng-model="bandasSeleccionadas" name="bandasSeleccionadas" value="{{banda.name_band}}.{{cartelera.category}}" style="display:none" checked> </div></td>
                                                                          </tr>

                                                                        </tbody>
                                                                      </table>
                                                                </div>
                                                    </uib-accordion-group>
                                                </uib-accordion>
                                        </div>
                                  </div>
                                  </div>
                                  
                                <!--    <div  class="col-sm-6 col-md-6 col-lg-12" >
                                            <uib-accordion close-others="oneAtATime" style=" display:block;margin-left:auto;margin-right:auto;">
                                                <uib-accordion-group ng-repeat="cartelera in infoCartelera.categories" ng-scroll="cartelera in infoCartelera.categories" is-open="cartelera.isOpen" ng-click="updateOpenStatus()">
                                                    <uib-accordion-heading style="background-color:#6d153d" ng-model="checkTitle">
                                                        {{cartelera.category}}
                                                    </uib-accordion-heading>
                                                        <a>{{cartelera.category}}</a>
                                                        <div >
                                                          <h2>Resultados Parciales</h2>          
                                                          <table class="table table-hover">
                                                            <thead>
                                                              <tr>
                                                                <th>Banda</th>
                                                                <th>Votos</th>
                                                              </tr>
                                                            </thead>
                                                            <tbody>
                                                              <tr ng-repeat ="banda in cartelera.results">
                                                                <td >{{banda.band}}</td>
                                                                <td>{{banda.votes}}</td>
                                                              </tr>
                                                          
                                                            </tbody>
                                                          </table>
                                                        </div>
                                                </uib-accordion-group>
                                            </uib-accordion>
                                    </div>

                                    </div>-->
                                    
                     
                                <div class="modal-footer">
                                  <button ng-show="eventoFlag1" type="button" class="button button-block"  data-toggle="modal" ng-click="convertirEnFestival()" >INICIAR VOTACIÓN</button>
                                   <div class="modal-footer">
                                  <button ng-show="!(eventoFlag1)" type="button" class="button button-block" data-dismiss="modal"  ng-click="crearVotacion()">VOTAR</button>
                                </div>
                                </div>
                              </div>

                            </div>
                          </div>

                
                    <div class="container">
                          <div id="infoFestivalModal" class="modal fade" tabindex="-1" data-focus-on="input:first" style="display: none;  ">
                          
                            <div class="modal-dialog modal-lg  ">

                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Festival</h4>
                                </div>
                                <div class="modal-body" >
                                    <h1  style="color:#6d153d">{{festival.info.content.event_data.Nombre}}</h1>
                                    <hr>
                                    <div class="top-row">
                                           <div >
                                                <div>
                                                     <label style="color:#6d153d" >Fecha Inicio:</label>
                                                     <div>
                                                         <p id="fechaInicioFestival1" name="fechaInicioFestival">{{festival.info.content.event_data.FechaInicioFestival}}</p>
                                                     </div>
                                                </div>

                                                <div>
                                                      <label style="color:#6d153d">Fecha Final:</label>
                                                      <div class="col-sm-10">
                                                        <p id="fechaFinalFestival1" name="fechaFinalFestival">{{festival.info.content.event_data.FechaFinalFestival}}</p>
                                                      </div>
                                                </div>
                                                <div>
                                                      <label style="color:#6d153d">Ubicación:</label>
                                                      <div class="col-sm-10">
                                                        <p id="fechaFinalFestival1" name="fechaFinalFestival"> {{festival.info.content.event_data.Ubicacion}},{{festival.info.content.event_data.Pais}}</p>
                                                      </div>
                                                </div>
 
                                            </div>   
                                            
                                            <div >
                                                 
                                                <div class="form-group has-feedback" style="margin: 10px 0px 0px 10px;">
                                                    <label style="color:#6d153d" >Información Comida</label>
                                                    <div class="col-sm-10">
                                                              <p id="comida" name="comida">{{festival.info.content.event_data.Comida}}</p>
                                                    </div>
                                                </div>
                                                <div class="form-group has-feedback" style="margin: 10px 0px 0px 10px;">
                                                    <label  style="color:#6d153d" >Información de Servicios</label>
                                                    <div class="col-sm-10">
                                                            <p id="servicios" name="servicios">{{festival.info.content.event_data.Servicios}}</p>
                                                    </div>
                                                </div>
                                                <div class="form-group has-feedback" style="margin: 10px 0px 0px 10px;">
                                                    <label style="color:#6d153d">Información de Transporte</label>
                                                    <div class="col-sm-10">
                                                    <p id="transporte" name="transporte">{{festival.info.content.event_data.Transporte}}</p>
                                                    </div>
                                                </div>
                                            
                                            </div>
                                    </div>
                                    <div class="form-group has-feedback" >
                                        <label style="color:#6d153d" >Recomencacion del Chef :</label>
                                        <div class="col-sm-10">
                                            <p i>{{festival.info.content.event_data.RecomendacionChef}}</p>
                                        </div>
                                    </div>
                                    <div style="margin: 0px 0px 0px 0px;">
                                         <br>
                                         <h3>Bandas Seleccionadas</h3>
                                         <div  class="col-sm-6 col-md-6 col-lg-12" >
                                                
                                                              <h4>Resultados Finales</h4>          
                                                              <table class="table table-hover">
                                                                <thead>
                                                                  <tr>
                                                                    <th>Banda</th>
                                                                    <th>Votos</th>
                                                                  </tr>
                                                                </thead>
                                                                <tbody>
                                                                  <tr ng-repeat =" banda in festival.info.content.bands | orderBy: banda.votes:inverse ">
                                                                    <td >{{banda.name_band}}</td>
                                                                    <td>{{banda.votes}}</td>
                                                                  </tr>

                                                                </tbody>
                                                              </table>
                                          </div>
                                            
                                    </div>
                                   
                                    
                                </div>
                                <div class="modal-footer">
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                <div class="container">
                              <!-- Modal -->
                              <div id="infoBandaModal" class="modal fade" role="dialog">
                                <div class="modal-dialog modal-lg">
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h4 class="modal-title">Informacion de Banda</h4>
                                      
                                    </div>  
                                    <div class="modal-body">
                                        <div class="top-row">
                                                <div class="top-row">
                                                      <div>
                                                        <label  style="color:#6d153d;margin: 0px 20px 0px 0px;" class="control-label col-sm-2" for="fechaInicioFestival">Nombre</label>
                                                      </div>
                                                      <div class="col-sm-10">
                                                            <p id="fechaInicioFestival" style="color:#6d153d" name="fechaInicioFestival">{{cartelera.banda.band_data.name}}</p>
                                                      </div>
                                                </div> 
                                                <div class="top-row">
                                                      <div>
                                                          <label style="color:#6d153d;" class="control-label col-sm-2" >Calificacion</label>
                                                      </div>
                                                      <div class="col-sm-10">
                                                          <p id="finVotacionx" name="fechaFinalFestival">{{cartelera.banda.band_data.calification}}</p>
                                                      </div>
                                                      
                                                 </div>
                                        </div>
                                        <div class="top-row">
                                             <div class="top-row">
                                                  <div>
                                                    <label style="color:#6d153d" class="control-label col-sm-2" for="lugar">Popularidad</label>
                                                 </div>
                                                  <div class="col-sm-10">
                                                      <p id="lugar" name="lugar">{{cartelera.banda.band_data.popularity}}</p>
                                                  </div>
                                             </div>
                                            <div class="top-row">
                                                  <div>
                                                    <label style="color:#6d153d" class="control-label col-sm-2" for="finVotacion2">Seguidores</label>
                                                  </div>
                                                  <div class="col-sm-10">
                                                      <p id="finVotacion2" name="finVotacion">{{cartelera.banda.band_data.followers}}</p>
                                                  </div>
                                             </div>
                                        </div>
                                        <div class="panel panel-default">
                                              <div class="panel-heading">Generos de Banda</div>
                                              <div class="panel-body">
                                                <div ng-repeat="item in cartelera.banda.genres">
                                                    {{item.Nombre}}
                                                </div>
                                              </div>
                                        </div>
                                        <div class="panel panel-default">
                                              <div class="panel-heading">Miembros de Banda</div>
                                              <div class="panel-body">
                                                <div ng-repeat="item in cartelera.banda.members">
                                                    {{item.Nombre}}
                                                </div>
                                              </div>
                                        </div>
                                         <div class="box-body" style="margin: 20px 0px 0px 0px; color:#FFFFFF">              
                                        <div align="center" class="col span_1_of_1 table-responsive" style=" margin: 0px 0px 0px 0px;"> 
                                                <table id="table" class="table table-bordered " style="background: rgba(38, 0, 51, 0.4)">
                                                    <thead>
                                                        <tr style="background: rgba(38, 0, 51, 0.1)" >    
                                                            <th>
                                                                <h4><b>Canciones</b>
                                                                </h4>
                                                            </th>  

                                                            <th> 
                                                                <h4><b>Reproductor</b>
                                                                <span id="value" class=""></span></h4>
                                                            </th>      
                                                        </tr>
                                                    </thead>
                                                    <tbody >
                                                          <tr ng-repeat="item in cartelera.banda.infoSongs">
                                                           
                                                            <td style="background: rgba(38, 0, 51, 0.1);">{{item.song_name}}</td>

                                                            <td style="background: rgba(38, 0, 51, 0.1);">
                                                                <div align="center">
                                                                    <audio ng-src="{{item.song_url}}" controls>
                                                                    </audio>
                                                                    
                                               
                                                                </div>
                                                            </td>
                                                           </tr>
                                                    </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div>
                                        <h3> Comentarios </h3>
                                        <hr>
                                        <div class="panel panel-default">
                                          <div class="panel-heading">
                                                  
                                                <fieldset class="rating">
                                                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                                    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                                    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                                    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                                    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                                    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                                    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                                </fieldset>
                                                <p>Calificar y Comentar Una Banda</p>
                                                
                                                
                                          </div>
                                          <div class="panel-body">
                                              <textarea maxlength="140" name="cartelera.banda.comentario" id="cartelera.banda.comentario" ng-model="cartelera.banda.comentario" placeholder="Escribir Comentario" >   
                                              </textarea>
                                          </div>
                                          <div class="panel-footer">
                                              <button type="button" ng-click="crearComentario()" class="btn btn-info">Calificar</button>
                                          </div>
                                            
                                        </div>
                                        <h3> Comentarios Anteriores</h3>
                                        <hr>
                                        <div  ng-repeat="item in cartelera.banda.comments | orderBy:item.date:reverse" class="panel panel-default">
                                            <div>Autor: {{item.user}}, Calificación: {{item.calification}}, Fecha: {{item.date}}</div>
                                            <div>Comentario: {{item.commentary}}</div>
                                        </div>
                                    </div>
                                        
                                        
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="agregarBandas()">Close</button>
                                    </div>
                                  </div>

                                </div>
                              </div>
                        </div>
              </div>      
        </div>
    </div>
</div>