<div id="perfilFanaticoDiv" ng-controller="verPerfilFanaticoController">
             <div style="margin: 0px 0px 0px 0px;">
                <nav  class="navbar navbar-inverse">
                  <div class="container-fluid">
                    <div class="navbar-header" >
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>

                      <a class="navbar-brand" id="idUser" href="#"  style="color:#FFFFFF">MyConcert</a>

                    </div>
                    <a class="navbar-brand" id="idUser" href="#home" style="color:#FFFFFF"></a>
                    <div class="collapse navbar-collapse" id="myNavbar" style="color:#FFFFFF">

                      <ul class="nav navbar-nav navbar-right">
                            <li style="color:#FFFFFF"class="submit" id="myBtn"><a href="#registroForm">Cerrar Sesión</a></li>
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                             <li style="color:#FFFFFF" id="verPerfil" ><a href="#verPerfilColaborador">Ver Perfil</a></li>
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                             <li style="color:#FFFFFF" id="ayuda" ><a href="#verAyuda">Ayuda</a></li>
                      </ul>
                    </div>
                  </div>
                </nav>
            </div>
            <div class="form" style="width=400px;">
                    <h1 style="color:#ffffff" >Perfil Fanatico</h1>  
                    <hr>
 
                
                    <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                        <label for="C_Name">Foto Perfil</label>
                        <h1>{{fanatico.foto}}</h1>
                    </div>
                <div class="top-row">
                    <div>
                        <div class="form-group has-feedback" >
                            <h2 style="color:#ffffff">{{fanatico.nombreUsuario}}</h2>
                            <label for="C_Name">Nombre Usuario</label>
                        </div>
                        <div class="form-group has-feedback" >
                            <h3 style="color:#ffffff" >{{fanatico.nombre}} {{fanatico.apellido}}</h3>
                            <label for="C_Name">Nombre Completo</label>
                        </div>
                        <div class="form-group has-feedback" >
                            
                            <h3 style="color:#ffffff" id="C_Name" name="C_Name" >{{fanatico.fechaNacimiento}}</h3>
                            <label for="C_Name">Fecha de Nacimiento</label>
                        </div>
                    </div>
                    <div>
                        <div class="form-group has-feedback" > 
                            <h3 style="color:#ffffff" >{{fanatico.fechaInscripcion}}</h3>
                            <label for="C_Name">Fecha Inscripción</label>
                        </div>    
                        <div class="form-group has-feedback" >
                            
                            <h3 style="color:#ffffff">{{fanatico.ubicacion}},{{fanatico.pais}}</h3>
                            <label for="C_Name">Ubicación</label>
                        </div>    
  
                        <div class="form-group has-feedback" >
                            <h3 style="color:#ffffff" >{{fanatico.universidad}}</h3>
                            <label for="C_Name">Universidad</label>
                        </div>

                    </div>        
                </div>
                <div >
                  <h1 style="color:#ffffff"> Lista de Generos</h1>
                  <div class="list-group">
                    <li ng-repeat="item in colaborador.generos" class="list-group-item">{{item}}</li>
                  </div>
                </div>
                <div>
                    <pre>{{fanatico.descripcion}}</pre>
                    <label for="C_Name">Descripción</label>
                </div>
                

            </div>
</div>