
*, *:before, *:after {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;   
}


body{
    background-image: url(/images/background1.jpg);
    height: 99%;
    overflow:auto;
    height: 250px;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;

}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
img {
    max-width: 100%;
    max-height: 100%;
}

a {
  text-decoration: none;
  color: #6d153d;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #6d153d;
}

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 800px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #6d153d;
  color: #ffffff;
}
.tab-group .active a {
  background: #6d153d;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}



label{
  color: #ffffff;
}

input, textarea {

  display: block;
  width: 100%;
  padding: 5px 10px;
  background: none;
  border: 1px solid #a0b3b0;
  text-emphasis-color: #ffffff;
 

}
select{
  font-size: 22px;
  display: block;
  width: 100%;
  padding: 5px 10px;
  background: none;
  box-shadow: none;
  border: 1px solid #a0b3b0;
  
}
select option {
 
    background: rgba(38, 0, 51, 0.4);
    background-color: none;
    color: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

input:focus, textarea:focus {
  outline: 0;
  border-color: #6d153d;
}

textarea {
  border: 2px solid #ffffff;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #6d153d;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #6d153d;
}

.button-block { 
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}


::-webkit-scrollbar-track-piece:start {
   /* Select the top half (or left half) or scrollbar track individually */
}

::-webkit-scrollbar-thumb:window-inactive {
   /* Select the thumb when the browser window isn't in focus */
}

::-webkit-scrollbar-button:horizontal:decrement:hover {
   /* Select the down or left scroll button when it's being hovered by the mouse */
}

::-webkit-scrollbar {
    width: 16px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9); 
}

/**obtenido de https://codepen.io/jamesbarnett/pen/vlpkh **/
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);



/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 




