<!DOCTYPE html>
<html lang="en">
<head>
  <!-- INCLUDE FILES AND LIBRARIES IN MAIN PAGE INDEX-->
  <title>My Concert</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/angular-1.5.8/angular.js"></script>
    <script src="/angular-1.5.8/angular.min.js"></script>
    <script src="/angular-1.5.8/angular-route.js"></script>
    <script src="/angular-1.5.8/angular-route.min.js"></script>
  <link rel="stylesheet" href="/css/index.css">  
    <script src="/js/jquery-3.1.0.js"  type="text/javascript"></script>
    <script src="/js/index.js"  type="text/javascript"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  
 
</head>
    
<!-- START OF THE PAGE-->    
<body ng-app="index">
    <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">My Concert</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li id="registrarseModal" role="button" data-toggle="modal" data-target="#registroModal"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Registrarse</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="loginModal" role="button" data-toggle="modal" data-target="#myLoginModal"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li> 
            </ul>
           
        </div>
      </div>
    </nav>
    </header>
<!--    <div class="view-animate-container">
        <div ng-view class="view-animate"></div>
    </div> -->
    <!-- POP POP TO LOGIN-->
    <div id="myLoginModal" class="modal" ng-controller="indexCtrl" >
      <div class="modal-content">
        <div class="modal-header">
          <span id="close1" class="close">×</span>
          <h2>INGRESAR</h2>
          <h4>EScriba su nombre de usuario y contraseña</h4>  
        </div>
        <div class="modal-body">
              <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                <label for="user">Nombre de Usuario</label>
                <input id=user type="y=text" ng-model="U_ID" class="form-control" placeholder="Nombre de Usuario" required>
                </div>
                <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                    <label for="pass">Contraseña</label>
                    <input id=pass type="password" ng-model="U_Password" class="form-control" placeholder="Contraseña" required >
                </div>
                <div align="center">
                    <button  ng-click="checkUser()" style="margin: 20px 0px 0px 0px; width:50%" type="submit" class="btn btn-seconday btn-block btn-flat btn-cyan" >Entrar</button>
                </div>
        </div>
      </div>
    </div>
    
     <!-- POP UP CREATE NEW EMPLOYEE -->
    <div id="registroModal" class="modal"  ng-controller="registroCtrl" style="overflow-y: scroll;" >
      <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
              <span id="close2" class="close">×</span>
              <h2>Creación de Cuenta</h2>
            </div>
            <div class="modal-body">
                <div>
                    <label for="E_BranchStore">Registrarse como:</label>
                    <div>
                        <input type="radio" id="inlineRadio1" value="0" name="bn" >
                        <label for="inlineRadio1">Colaborador</label>
                        <input type="radio" id="inlineRadio2" value="1" name="bn" checked="" >
                        <label for="inlineRadio2">Fanático</label>
                    </div> 
                </div>        
                <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                <label for="nombreUsuario">Nombre de Usuario</label>   
                <input id=nombreUsuario type="y=text" ng-model="nombreUsuario" class="form-control" placeholder="Nombre de Usuario" required>
                </div>
                <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                <label for="Nombre">Nombre</label>
                <input id=Nombre type="text" ng-model="Nombre" class="form-control" placeholder="Nombre" required>
                </div>
                <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                <label for="Apellido">Apellido</label>
                <input id=Apellido type="text" ng-model="Apellido" class="form-control" placeholder="Apellido" required>
                </div>
                 <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                <label for="E_BranchStore">Contraseña</label>
                <input id=Contrasena type="password" ng-model="Contrasena" class="form-control" placeholder="Contraseña" required>
                </div>
                <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                <label for="Confirmacion">Confirmación Contraseña</label>
                <input id=user type="password" ng-model="Confirmacion" class="form-control" placeholder="Confirmacion Contraseña" required>
                </div>
                <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                <label for="Email">Email</label>
                <input id=Email type="email" ng-model="Email" class="form-control" placeholder="Email" required>
                </div>
                <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                <label for="E_BranchStore">Foto Perfil</label>
                    <label class="btn btn-default btn-file">
                    Cargar <input type="file" style="display: none;">
                </label>
                 <!--   <input type="file" ng-file-select="onFileSelect($files)" >-->
                </div>
               
                  
                <div id="contact">
                        <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                          <label for="F_FechaNacimiento">Fecha de Nacimiento</label>
                          <input id=F_FechaNacimiento type="date" ng-model="F_FechaNacimiento" class="form-control" placeholder="Fecha de Nacimiento" required>
                        </div>
                        <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                            <label for="F_Telefono">Telefono</label>
                            <input id=F_Telefono type="number" ng-model="F_Telefono" class="form-control" placeholder="Telefono" requerid>
                        </div>
                        <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                            <label for="F_Ubicacion">Ubicación</label>
                            <input id=user type="text" ng-model="F_Ubicacion" class="form-control" placeholder="Ubicacion" required>
                        </div>
                        <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                            <label for="F_Pais">País</label>
                            <select type="number" id = "F_Pais" class="form-control"     name="F_Pais" ng-       model="F_Pais" placeholder="Escriba un Nombre de Usuario" >
                                <option ng-repeat="item in branchStores">{{item.S_ID}}</option>
                            </select>
                        </div>
                        <div class="form-group has-feedback" style="margin: 20px 0px 0px 0px;">
                            <label for="F_Universidad">Universidad</label>
                            <select type="number" id = "F_Universidad" class="form-control"     name="F_Universidad" ng-       model="F_Universidad" placeholder="Escriba un Nombre de Usuario" >
                                <option ng-repeat="item in branchStores">{{item.S_ID}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                      
                          <label for="sel2">Seleccione sus géneros preferidos</label>
                          <select multiple class="form-control" id="sel2">
                            <option>Reggae</option>
                            <option>Rock</option>
                            <option>Metal</option>
                            <option>Salsa</option>
                            <option>HipHop</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="F_Descripcion">Descripción Personal</label>
                          <textarea class="form-control" rows="5" id="F_Descripcion"></textarea>
                        </div>
                        <div class="checkbox">
                          <label><input type="checkbox" value="" id="tipoUsuario">Acepto los términos y Condiciones</label>
                        </div>
                    
                </div>
                <div id="dlcert"></div>

                <div align="center">
                        <button  ng-click="crearUsuario()" style="margin: 20px 20px 20px 20px; width:50%" type="submit" class="btn btn-primary btn-block btn-flat">Crear Usuario</button>
                </div>
        
       
            </div>
        </div>

    </div>

                
                
                                                                                                
                
               
    
   
</body>
</html>