<div ng-controller="registroController">
            <div class="form">
                    <h1 style="color:#ffffff" >My Concert</h1>  
                    <hr>
                    <ul class="tab-group">
                        <li class="tab active"><a href="#signup">Registrarse</a></li>
                        <li class="tab"><a href="#login">Ingresar</a></li>
                    </ul>

                    <div class="tab-content">
                                <div id="signup">   
                                  <h1 style="color:#ffffff">Armá tu Propio Festival</h1>
                                  <form>
                                      <div class="top-row">
                                        <div class="form-group">
                                          <label class="checkbox-inline"><span><input style="margin: 5px 0px 0px 100px;" name ="tipoUsuario"ng-model ="usuario.tipo" type="checkbox" value="">Registrarse como fanatico</span></label>
                                        </div>
                                        <div class="form-group">
                                          <label>Nombre de Usuario<span class="req">*</span></label>
                                          <input ng-model="usuario.nombreUsuario" type="text" required autocomplete="off" style="color:#ffffff" />
                                        </div>
                                        <div class="form-group">
                                          <label>Nombre<span class="req">*</span></label>
                                          <input ng-model="usuario.Nombre" type="text" required autocomplete="off" style="color:#ffffff" />
                                        </div>

                                        <div class="form-group">
                                          <label>Apellido<span class="req">*</span></label>
                                          <input ng-model="usuario.Apellido" type="text"required autocomplete="off" style="color:#ffffff"/>
                                        </div>
                                      </div>

                                      <div class="form-group">
                                        <label>Correo<span class="req">*</span></label>
                                        <input ng-model="usuario.Email" type="email"required autocomplete="off" style="color:#ffffff"/>
                                      </div>

                                      <div class="form-group">
                                        <label>Contraseña<span class="req">*</span></label>
                                        <input ng-model="usuario.Contrasena" type="password"required autocomplete="off" style="color:#ffffff"/>
                                      </div>
                                      <div class="form-group">
                                        <label>Confirmación Contraseña<span class="req">*</span></label>
                                        <input ng-model="usuario.Confirmacion" type="password"required autocomplete="off" style="color:#ffffff"/>
                                      </div>

                                      <div ng-show = "usuario.tipo">
                                            <div >
                                                    <div class="form-group" style="margin: 20px 0px 0px 0px;">
                                                      <label for="F_FechaNacimiento">Fecha de Nacimiento</label>
                                                      <input id=F_FechaNacimiento type="date" ng-model="usuario.fechaNacimiento" placeholder="Fecha de Nacimiento" style="color:#ffffff">
                                                    </div>
                                                    <div class="form-group" style="margin: 20px 0px 0px 0px;">
                                                        <label for="F_Telefono">Telefono</label>
                                                        <input id=F_Telefono type="number" ng-model="usuario.telefono" placeholder="Telefono" style="color:#ffffff">
                                                    </div>
                                                    <div class="form-group" style="margin: 20px 0px 0px 0px;">
                                                        <label for="F_Ubicacion">Ubicación</label>
                                                        <input id=user type="text" ng-model="usuario.ubicacion" placeholder="Ubicacion" style="color:#ffffff">
                                                    </div>
                                                    <div class="form-group" style="margin: 20px 0px 0px 0px;">
                                                        <label for="F_Pais">País</label>
                                                        <select type="number" id = "F_Pais"     name="F_Pais" ng-model="usuario.pais" placeholder="Escriba un Nombre de Usuario" style="color:#ffffff">
                                                            <option style="color:#ffffff" ng-repeat="item in listaPaises">{{item.P_ID}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group" style="margin: 20px 0px 0px 0px;">
                                                        <label for="F_Universidad">Universidad</label>
                                                        <select type="number" id = "F_Universidad"      name="F_Universidad" ng-       model="usuario.universidad" placeholder="Escriba un Nombre de Usuario" style="color:#ffffff">
                                                            <option style="color:#ffffff" ng-repeat="item in listaUniversidades">{{item.U_ID}}</option>
                                                        </select>
                                                    </div>
                                                    <div >
                                                      <label for="sel2">Seleccione sus géneros preferidos</label>
                                                      <select style="color:#ffffff" multiple  id="sel2">
                                                        <option>Reggae</option>
                                                        <option>Rock</option>
                                                        <option>Metal</option>
                                                        <option>Salsa</option>
                                                        <option>HipHop</option>
                                                      </select>
                                                    </div>
                                                    <div class="form-group">
                                                      <label for="F_Descripcion">Descripción Personal</label>
                                                      <textarea  rows="5" id="F_Descripcion" ng-model="usuario.descripcion" style="color:#ffffff"></textarea>
                                                    </div>
                                                    <div class="checkbox">
                                                      <label><input type="checkbox" value="" id="usuario.terminos" name="aceptoTerminos">Acepto los términos y Condiciones</label>
                                                    </div>
                                            </div>
                                          </div>
                                          <button type="submit" class="button button-block" ng-click="crearCuenta()" >Crear Cuenta</button>
                                    </form>
                            </div>
                            <div id="login" >   
                                <h1 style="color:#ffffff">Vota por tus Bandas</h1>
                                <form>
                                    <div class="form-group">
                                        <label>Nombre Usuario<span class="req">*</span></label>
                                        <input style="color:#ffffff" ng-model="usuarioLogin.login" type="text" required autocomplete="off"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Contraseña<span class="req">*</span></label>
                                        <input style="color:#ffffff" ng-model="usuarioLogin.password" type="password"required autocomplete="off"/>
                                    </div>
                                    <button class="button button-block" ng-click="ingresarUsuario()" href="#vistaColaborador">Ingresar</button>
                                </form>
                            </div>
                    </div><!-- tab-content -->
            </div>
</div>