 <!--añadimos aquí el controlador notasController-->
<div ng-controller="myConcertController">
   <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">My Concert</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li id="registrarseModal" role="button" data-toggle="modal"><a href="#registroForm"><span class="glyphicon glyphicon-log-in"></span> Registrarse</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="loginModal" role="button" data-toggle="modal" data-target="#myLoginModal"><a href="#"><span class="glyphicon glyphicon-log-in"></span>Ingresar</a></li> 
            </ul>
           
        </div>
      </div>
    </nav>
    </header>
    
</div>